:root {
  --card-width: 30vw;
  --card-height: calc(var(--card-width) * 3 / 4);
  --figure-height: 120%;
  --footer-height: 30%;
  --transition: ease-in-out 0.15s all; /* All my transitions must happen simultaneously */
}

body {
  min-height: 100vh;
  background-color: brown;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.character {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  margin: 1vw;
  overflow: hidden;
  border-radius: 3pt;
  transition: var(
    --transition
  ); /* The transitions should happen smoothly, no card teleportation */
  transform: scale(
    0.95
  ); /* By default, my card is a bit smaller, like it's a bit further (Yaay for perspective! \o/ ) */
}
.character:hover {
  transform: scale(1); /* When hovered, my card  */
  /* Nevermind trying to learn how to use this property: Head to "https://www.cssmatic.com/box-shadow" */
  box-shadow: 0px 0px 64px -10px rgba(0, 0, 0, 0.75);
}

.character .background {
  width: 100%;
  height: auto;
}

.character .figure {
  height: var(--figure-height);
  position: absolute;
  right: 0;
}

.character footer {
  height: var(--footer-height);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, #0000, #000f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.character footer h3 {
  color: white;
  font-family: "Anton", sans-serif;
  letter-spacing: 1pt;
  font-size: 1.3em;
}
