:root {
  --card-width: 30vw;
  --card-height: calc(var(--card-width) * 3 / 4);
  --figure-height: 120%;
  --footer-height: 30%;
}

body {
  min-height: 100vh;
  background-color: brown;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.character {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  margin: 1vw;
  overflow: hidden;
  border-radius: 3pt;
}

.character .background {
  width: 100%;
  height: auto;
}

.character .figure {
  height: var(--figure-height);
  position: absolute;
  right: 0;
}

/*Up to now, my footer was hidden because of the .character's "overflow" property */
.character footer {
  height: var(--footer-height);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, #0000, #000f);
  display: flex; /* FlexTip: an easy way to center anything inside this element is to put the parent as a flex and center it automatically */
  align-items: center;
  justify-content: center;
}

.character footer h3 {
  color: white;
  font-family: "Anton", sans-serif;
  letter-spacing: 1pt;
  font-size: 1.3em;
}
